body {
      background-color: #0a0a14;
      color: white;
      font-family: "VT323", monospace;
      text-align: center;
      margin: 0;
      padding: 0;
      background-image: url("background.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;  
    }

    .textbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;

      background-color: rgba(17, 45, 106, 0.714);   
      border: 3.5px solid rgba(119, 42, 228, 0.6);   
      border-radius: 16px;
      padding: 24px 32px;
      width: 680px;
      color: #d2d2ee;                  
      font-family: "VT323", monospace;
      font-size: 20px;
    }

    .textbox p {
        background: none;
        margin: 0;              
        line-height: 1.1;       
        color: #d2d2ee;
        font-family: "VT323", monospace;
        text-align: center;
    }

    .textbox img {
        width: 200px;
        flex-shrink: 0;   
    }

    .textbox-content {
        flex: 1;
        text-align: center;
    }



    span {
      color:#4f8ef7;
    }

    html, body {
      min-height: 100vh;
      margin: 0;
    }

    .screen {
      display: none;
      padding: 40px 20px;
    }

    #title {
      width: 500px;
    }

    .screen.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    h1 {
      color: #4f8ef7;
      font-size: 25px;
      margin-bottom: 10px;
    }

    p {
      color: #d2d2ee;
      font-size: 20px;
    }

    img{
      width: 300px;
    }

    button {
      background-color: rgba(225, 235, 255, 0.766); 
      font-family: "VT323", monospace;
      color: #001dd7;
      border: 2px solid rgba(119, 42, 228, 0.658);  
      border-radius: 30px;
      padding: 12px 36px;
      font-size: 25px;
      cursor: pointer;
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    } 

    button:hover {
      background-color: rgba(119, 42, 228, 0.6); 
    }

    /*the text input box*/
    /* textarea {
      width: 80%;
      max-width: 400px;
      background-color: #111;
      color: white;
      border: 1px solid #4f8ef7;
      border-radius: 10px;
      padding: 12px;
      font-size: 1rem;
      font-family: "VT323", monospace;
      resize: none;
      display: block;
      margin: 20px auto 0;
    } */

    /*the answer text inside the ball*/
    /* #answer-text {
      color: #c8e0ff;
      font-size: 0.75rem;
      padding: 8px;
      text-align: center;
      line-height: 1.4;
    } */

    /*number of questions asked*/
    /* #question-count {
      color: #7878a0;
      font-size: 0.85rem;
      margin-top: 6px;
    } */